footer {
  background-color: #e91e63;
  color: #fff;
  padding: 8px 0; /* Reduz o padding vertical */
  position: fixed;   /* fixa no fundo */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o rodapé fique acima de outros conteúdos */
}

.footer-container {
  display: flex;
  justify-content: center; /* Centraliza todo o conteúdo */
  align-items: center;
  width: 100%;
  position: relative;
}

.social-icons {
  display: flex;
  gap: 20px; /* Espaço entre os ícones */
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px; /* Tamanho dos ícones */
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

.footer-bottom {
  position: absolute;
  right: 20px;
  font-size: 12px;
  color: #f4c5d8;
}
